.outerGrid {
    margin-top: 5% !important;
    .innerLeftGrid {
        .gridContainer{
            .textfieldGrid{
                margin-top: 2% !important;
                margin-left: 2% !important;
               .textfield {
                    width: -moz-available !important;
               }
            }
        }
    }
    .innerRightGrid{
        .webcam{
            width: 90%;
            margin-left: 5%;
        }
        .capturedWebcam{
            width: 100%;
            height: 100%;
        }
    }
}
