.outerGrid {
    margin-top: 5% !important;
    .innerLeftGrid {
        .textfieldGrid{
            margin-top: 2% !important;
            margin-left: 5px !important;
           .textfield {
                width: -moz-available !important;
           }
        }
    }
}
